/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and overall layout */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(0, 249, 236), rgb(71, 150, 229));
  font-family: 'Nunito', sans-serif;
}

.container {
  text-align: center;
}

/* Header Text */
.header_text {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Gif container */
.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Button Styles */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between buttons */
}

.btn {
  background-color: #017cff;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 3px black;
}

.btn:hover {
  background-color: #ffffff;
  color: #017cff;
}

/* No button movement effect */
#noButton {
  position: absolute;
  transition: 0.5s ease;
}

/* Styling for the Instagram link */
p {
  color: white;
  margin-top: 20px;
}

p a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.75;
  text-decoration: none;
}

p a:hover {
  opacity: 1;
}

/* Making sure the content stays centered */
.container {
  position: relative;
  z-index: 1;
}
